.browse-container {
    width: 90vw;
    min-width: 350px;
    margin: 10px auto;
}

.browse-body {
    width: 70%;
    min-width: 350px;
    margin: 20px auto;
}

.browse-header {
    width:70%;
    min-width: 350px;
    margin: 20px auto;
}

.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}

#browse-search-input {
    width: 45%;
    min-width: 225px;
}

.accordion-btns {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.create-btn {
    width: 120px;
    height: 36px;
    margin: 0;
}

#explore-category-btn {
    width: 90px;
    margin: 0px 10px;
}

#edit-category-btn {
    width: 90px;
    margin: 0px 10px;
}

#delete-category-btn {
    width: 90px;
    margin: 0px 10px;
}


/*  modal styling */
.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
}

#category-name-input {
    width: 70%;
    min-width: 250px;
    margin: 10px auto;
    border-radius: 5px;
    border: thin solid var(--blueGray);
}

#category-details-input {
    width: 70%;
    min-width: 250px;
    height: 200px;
    margin: 10px auto;
    border-radius: 5px;
}

/*  boostrap accordion styling */
.accordion {
    border: 0;
    box-shadow: 1px 1px 4px var(--brightBlue);
    border-radius: 5px;
    /* box-shadow: inset 1px 1px 1px var(--brightBlue); */
}


.accordion-item {
    background-color: #0000001d;
    color: white;
    border: thin solid var(--lightBlue);
    /* box-shadow: 2px 2px 2px 2px var(--brightBlue); */
}

.accordion-button {
    background-color: #0000001d;
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: var(--brightBlue);
    color: white;
}

.accordion-button:focus {
    box-shadow: none;
}