.browse-container {
    width: 90vw;
    min-width: 350px;
    margin: 10px auto;
}

.browse-body {
    width: 70%;
    min-width: 350px;
    margin: 40px auto;
}

.browse-header {
    margin: 20px auto;
}