/* ----------------------- login form ------------------  */
.login-container {
    width: 80vw;
    margin: 5% auto;
    padding: 10px 0;
    text-align: center;
    border-bottom: thin solid var(--brightBlue);
}

.login-header {
    margin: 20px auto;
    border-bottom: thin solid var(--brightBlue);
}

.form-control:focus {
    box-shadow: 0 0 0.15em 0.15em var(--brightBlue) !important;
}

.input-group-text {
    background-color: lightgrey;
    border: none;
}

.mb-3 {
    margin: 20px auto;
}








