body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --blue:#002f73;
  --blue1:#203f63;
  --brightBlue:#58b7dd;
  --white:#ffff;
  --offWhite:#dae1eb;
  --blueGray:#b6c3d7;
  --lightBlue:#91a5c3;
}


