:root{
  --blue1:#1c3a5b;
  /* --blue1:#494f54; */
  --brightBlue:#58b7dd;
  --white:#ffff;
  --offWhite:#eef5ff;
  --blueGray:#0000001d;
  --lightBlue:#91a5c3;
}

body {
  background-color: var(--blue1) !important;
  color: var(--white) !important;
}

.container {
  width: 80%;
  max-width: 600px;
  min-width: 350px;
  margin: 30px auto;
}

/* ------ animated button matching color scheme ----- */
.animated-btn {
  width: 120px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  height: 40px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  background-image: linear-gradient(to right, var(--brightBlue), #3883a0,#0a6a90, var(--blue1));
  box-shadow: 0 2px 12px 0 rgba(88, 118, 162, 0.75);

  border-radius: 50px;
  -o-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.animated-btn:hover {
  background-position: 99% 0;
  -o-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.animated-btn:focus {
  background-position: 50% 50%;
  border: 1px solid var(--blueGray);
  box-shadow: inset;
  -o-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

/* ------- react spinner div ---------------------------- */
.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10vh auto;
}


/* ------- scroll bar styling --------- */
::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}

::-webkit-scrollbar-track {
  width: 6px;
  background-color: var(--blue1);
}

::-webkit-scrollbar-thumb {
  background-color: var(--brightBlue);
  border-radius: 4px;
}