:root{
  --blue:#002f73;
  --blue1:#1c3a5b;
  --brightBlue:#58b7dd;
  --white:#ffff;
  --offWhite:#dae1eb;
  --blueGray:#b6c3d7;
  --lightBlue:#91a5c3;
}

body {
  background-color: var(--blue1) !important;
  color: var(--white) !important;
}

.container {
  width: 90%;
  min-width: 350px;
  margin: 30px auto;
}

.blue-btn {
  
}




