.students-container {
    width: 90vw;
    min-width: 370px;
    margin: 10px auto;
}

.students-body {
    width: 90%;
    min-width: 360px;
    margin: 20px auto;
}

.students-header {
    width: 90%;
    min-width: 360px;
    margin: 20px auto;
}

/* students table  */
.table {
    border: 2px solid var(--blueGray) !important;
}

.student-table-btn {
    width: 90px;
    padding: 4px;
}

/*  add comment modal */
.comment-modal {
    color: black;
}

.comment-btn {
    margin: 4px;
}

.comment-textarea {
    width: 80%;
    min-width: 250px;
    height: 150px;
    margin: 10px auto;
    border-radius: 5px;
}

.delete-comment-btn {
    margin-left: 6px;
}

#student-table {
    font-size: 16px;
}

#student-table > tbody > tr > td {
    font-size: 16px;
}