.students-container {
    width: 90vw;
    min-width: 370px;
    margin: 10px auto;
}

.students-body {
    width: 90%;
    min-width: 360px;
    margin: 20px auto;
}

.students-header {
    width: 90%;
    min-width: 360px;
    margin: 20px auto;
}

/*  add comment modal */
.comment-modal {
    color: black;
}

.comment-btn {
    margin: 4px;
}

.comment-textarea {
    width: 80%;
    min-width: 250px;
    height: 150px;
    margin: 10px auto;
    border-radius: 5px;
}

.delete-comment-btn {
    margin-left: 6px;
}

/* student table styling */

.table {
    --bs-table-bg: var(--blueGray) !important;
    --bs-table-color: white !important;
    border: thin solid var(--lightBlue) !important;
}

.table-secondary {
    --bs-table-bg: var(--blueGray) !important;
    --bs-table-color: white !important;
    border: thin solid var(--lightBlue) !important;
}

#student-table {
    font-size: 16px;
}

.student-table-btn {
    width: 90px;
    padding: 4px;
}

#student-table > tbody > tr > td {
    font-size: 16px;
    text-align: left;
    vertical-align: middle;
    padding: 16px 8px;
}
