.profile-container {
    width: 85vw;
    min-width: 370px;
    margin: 10px auto;
}

.profile-header {
    width: 90%;
    min-width: 360px;
    margin: 20px auto;
    border-bottom: 2px solid var(--brightBlue);
}

.profile-body {
    width: 90%;
    min-width: 360px;
    margin: 20px auto;
}

.profile-about-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile-ul {
    list-style-type: none;
}