.profile-container {
    width: 85vw;
    min-width: 370px;
    margin: 10px auto;
}

.profile-header {
    width: 90%;
    min-width: 360px;
    margin: 20px auto;
    border-bottom: 1px solid var(--brightBlue);
}

.profile-body {
    width: 90%;
    min-width: 360px;
    margin: 20px auto;
}

.profile-about-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile-about {
    border-bottom: 1px solid var(--brightBlue);
    margin: 18px auto;
}

.profile-ul {
    list-style-type: none;
}

.profile-ul > li {
    font-size: 18px;
    padding: 5px;
}

table {
    width: 60%;
    min-width: 350px;
    margin: 20px auto 20px 0px;
}

table > tbody > tr > th {
    padding: 4px 4px 4px 10px;
}

table > tbody > tr > th {
    font-weight:600;
    font-size: 20px;
}

table > tbody > tr > td {
    font-weight: 400;
    font-size: 20px;
}
