.profile-container {
    width: 85vw;
    min-width: 370px;
    margin: 10px auto;
}

.profile-header {
    width: 90%;
    min-width: 360px;
    margin: 20px auto;
    border-bottom: 1px solid var(--brightBlue);
}

.profile-body {
    width: 90%;
    min-width: 360px;
    margin: 20px auto;
}

.profile-div-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile-div-header > h4 {
    margin: 0;
}

.profile-div {
    border-bottom: 1px solid var(--brightBlue);
    margin: 18px auto;
}

.about-table {
    width: 60%;
    min-width: 350px;
    margin: 20px auto 30px 0px;
}

.about-table > tbody > tr > th {
    padding: 4px 4px 4px 10px;
}

.about-table > tbody > tr > th {
    font-weight:600;
    font-size: 18px;
}

.about-table > tbody > tr > td {
    font-weight: 400;
    font-size: 18px;
}

.profile-stats {
    border-bottom: 1px solid var(--brightBlue);
}

