.home-container {
    width: 90vw;
    min-width: 350px;
    margin: 1em auto;
}

.home-header {
    width: 90%;
    min-width: 330px;
    margin: 1em auto;
}

.home-main {
    width: 80%;
    min-width: 330px;
    margin: 3em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.home-card {
    width: 20%;
    min-width: 200px;
    height: fit-content;
    min-height: 60px;
    margin: 1em .5em;
    background-color: white;
    border: 1px solid var(--brightBlue);
    box-shadow: 1px 1px 1px var(--blueGray);
    transition: ease-in-out .3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-card > h4 {
    margin: 4px;
}

.home-card:hover {
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.home-card:hover > img {
    width: 50px;
    height: 50px;
    transition:all ease-in-out 0.3s;
}

.home-card:active {
    transition: ease-in-out .3s;
    box-shadow: none;
    background-color: var(--blueGray);
}

.card-img {
    width: 00px;
    height: 0px;
    transition: all ease-in-out .3s;
}
