.home-container {
    width: 95vw;
    margin: 10px auto;
}

.home-main {
    min-width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: none;
}

.home-card {
    width: 250px;
    height: 150px;
    margin: 20px 0px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 1px 1px 4px 0px var(--lightBlue);
    transition: ease-in-out .2s;
}

.home-card:hover {
    background-color: var(--brightBlue);
    transition: ease-in-out .2s;
}

.home-card:active {
    transition: ease-in-out .2s;
    box-shadow: none;
    background-color: var(--blueGray);
}
